HTTP_PORT=80

STATIC_IMAGE=ratubillahlinggasuci/uas-static:latest
DYNAMIC_IMAGE=ratubillahlinggasuci/uas-dynamic:latest

MYSQL_ROOT_PASSWORD=change_this_root_password
MYSQL_DATABASE=uascloud_lingga_db
MYSQL_USER=uascloud_lingga_user
MYSQL_PASSWORD=change_this_user_password
